<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
	<!-- We are conditionally including test support if the showTests
	variables has been set. -->
	{{#if showTests}}
	<link rel="stylesheet" href="/vendor/mocha.css">
	{{/if}}

	<!-- We add the jQuery library because we will be using it
	to manipulate HTML in the browser. -->
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/bower_components/sweetalert/dist/sweetalert.css">
	<link rel="stylesheet" href="/css/styles.css">

	<link rel='shortcut icon' href="/img/favicon.png">
	<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/bower_components/sweetalert/dist/sweetalert.min.js"></script>

	<script src="/javascripts/common.js"></script>

	<!-- Conditional CSS/JS for subtemplates here -->
	{{#if view_splash}}
	<link rel="stylesheet" href="/css/splash.css">
	{{/if}} {{#if view_about}}
	<link rel="stylesheet" href="/css/about.css">
	{{/if}} {{#if view_login}}
	<link rel="stylesheet" href="/css/login.css">
	{{/if}} {{#if view_signup}}
	<link rel="stylesheet" href="/css/signup.css">
	<script src="/javascripts/signup.js"></script>
	{{/if}} {{#if view_profile}}
	<link rel="stylesheet" href="/css/profile.css">
	<link rel="stylesheet" href="/css/changePass.css">
	<script src="/javascripts/profile.js"></script>
	{{/if}}
	<!-- End conditional CSS/JSS -->
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a id="nav-logo" class="navbar-brand" href="/" title="QueueUp Home Page">
					<img alt="QueueUp Logo" src="/img/logo-nav.png">
				</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					{{#unless loggedIn}}
					<li><a class="nav-color" href="/login"><strong>Login</strong></a></li>
					<li><a class="nav-color" href="/signup"><strong>Signup</strong></a></li>
					{{else}}
					<li><a class="nav-color" href="/profile"><strong>{{username}}</strong></a></li>
					<li><a class="nav-color" href="/logout"><strong>Logout</strong></a></li>
					{{/unless}}
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</nav>
	<div id="main-content" class="container">
		{{{body}}}

		{{#if showTests}}
		<div id="mocha"></div>
		<script src="/vendor/mocha.js"></script>
		<script src="/vendor/chai.js"></script>
		<script>
		mocha.ui('tdd');
		var assert = chai.assert;
		</script>

		<script src="/qa/tests-global.js"></script>
		{{#if pageTestScript}}
		<script src="{{pageTestScript}}"></script>
		{{/if}}
		<script>mocha.run();</script>
		{{/if}}
	</div>
	<footer class="footer">
		<div class="container">
			<a href="/about">About</a>
			<a href="/team">Team</a>
			<a href="/mockups">Mockups</a>
			<a href="#">Help</a>
			<a href="#">Contact Us</a>
		</div>
	</footer>
</body>
</html>
